<a href="/">Back to Home</a>

<!-- <div class="row">
<div class="col-sm-6 col-sm-offset-3"> -->

    <h1>{{item.title}}</h1>
    <h2>{{item.itemTitle}}</h2>
    <p>{{item.description}}</p>
    <p>{{item.rating}}</p>

    <p><a href="/items/{{item._id}}/edit">Edit Listing</a></p>

<!-- </div>
</div> -->
